html * {
    box-sizing: border-box;
}

body {
    background-color: #eff4ff;
    font-family: 'K2D', sans-serif;
}

p {
    font-size: 16px
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 7%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.data {
    width: 65%;
    padding: 30px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.profile {
    width: 35%;
    background-color: #42A5F5;
    display: flex;
    flex-direction: column;
}
.profile-header {
    text-align: center;
    padding: 25px;
    background-color: #2D89EF;
    color: #eff4ff;
}
.profile-header img{
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}
.profile-links {
    /* padding: 25px; */
}
.profile-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.profile-links a {
    text-decoration: none;
}
.profile-links i {
    margin-right: 10px;
}

.section-intro {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.section-intro .logo {
    font-size: 25px;
}
.section-intro .intro-text {
    margin-left: 5px;
}
.new-section {
    margin-top: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.profile-body {
    padding: 25px;
}

.profile-section-intro {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.profile-section-intro .logo {
    font-size: 20px;
}
.profile-section-intro .intro-text {
    margin-left: 5px;
}
.profile-new-section{
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        margin: 0;
    }

    .data {
        width: 100%;
    }

    .profile {
        width: 100%;
    }
}